beautifulsoup4

colormap

datasets

faiss-cpu

fastapi

flax

lxml

matplotlib

numpy

onnxruntime

opencv-python

openai

pydantic

pyside6

pyinstaller

python-dotenv

requests

seaborn

tensorflow

torch

torchaudio

torchvision

tqdm

transformers

uvicorn
