beautifulsoup4

colormap

datasets

faiss-cpu

fastapi

flax

lxml

matplotlib

numpy

onnxruntime-directml

opencv-python

openai

pydantic

python-dotenv

requests

seaborn

tensorflow

torch

torch-directml

torchaudio

torchvision

tqdm

transformers

uvicorn